@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <p>
        BookStore is a retail database project. This database handles all the information needed for the bookstore to maintain inventory and keep track of orders from customers. To enter customer view, simply sign in with an existing account, or register and be automatically signed in. To enter Admin view, use the following sign in information: Email: admin@email.com ; Password: 246810As#.
    </p>
</div>
